<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=YOUR_SQL_SERVER;Initial Catalog=CBPAYROLL;uid=YOUR_USER;pwd=YOUR_PASSWORD;"/>
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="YOUR_SQL_SERVER"/>
	<add key="DBName" value="CBpayroll"/>
	<add key="UID" value="YOUR_USER"/>
	<add key="PWD" value="YOUR_PASSWORD"/>

    <add key="Host" value="smtp.example.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="your-email@example.com"/>
    <add key="Password" value="YOUR_SMTP_APP_PASSWORD"/>
    <add key="Port" value="587"/>

    <add key="ToMailAddress" value="recipient@example.com"/>
    <add key="CCMailAddress" value=""/>

    <add key="BiometricIPAddress" value="192.168.0.0"/>
    <add key="BiometricPort" value="4370"/>
    <add key="BiometricMachineNo" value="1"/>

    <add key="LogFileLocation" value="D:\Logs\ProcessedBiometricAttendance_Log.txt"/>

  </appSettings>
</configuration>
