USE [CBpayroll]
GO
/****** Object:  View [dbo].[Receipt_Inward_Dye_Wea]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Receipt_Inward_Dye_Wea] as Select PO_No,sum(Accept_qty) as Accept_Qty from Inward_Item_Dye_Wea where Receipt_Return='Receipt' group by PO_NO 


GO
/****** Object:  View [dbo].[Return_Inward_Dye_Wea]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Return_Inward_Dye_Wea] AS
SELECT PO_No,sum(Accept_qty) as Reject_Qty 
FROM Inward_Item_Dye_Wea
WHERE Receipt_Return='Return' group by PO_NO 


GO
/****** Object:  View [dbo].[View_Costing_Item]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_Costing_Item] as 
select Cost_Code,Refer_Code,Item_Name,FabricName,CAST(Item_Width AS varchar)+' X '+  CAST(Item_Height AS varchar) Size,FabNo from Costing_Items


GO
/****** Object:  View [dbo].[View_Inward_Details]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_Inward_Details]
as
Select Inward_Main.Slip_No,Inward_Main.PO_NO,Inward_Main.JobOrderNo,Inward_Main.Process_Type,Inward_Main.To_Whom,Inward_Main.PartyName,
	Inward_Main.From_Whom,Inward_Main.In_Date,
	Inward_Item_Process.SNO,Inward_Item_Process.Item_SNO,Inward_Item_Process.Item_Name,Inward_Item_Process.Item_Design,Inward_Item_Process.Item_Color,Inward_Item_Process.Item_Width,
	Inward_Item_Process.Item_Qty,Inward_Item_Process.UOM,Inward_Item_Process.Receipt_Return,Inward_Item_Process.Fab_Weight,
	Inward_Item_Process.Accept_Qty,Inward_Item_Process.Pending_Qty,Inward_Item_Process.Part_Reject_Qty,Inward_Item_Process.Full_Reject_Qty,
	Inward_Item_Process.PinShortQty
from Inward_Main,Inward_Item_Process
where Inward_Main.Slip_No=Inward_Item_Process.Slip_No and Inward_Main.Del_In=0 and Inward_Main.Process_Type='WEAVING'



GO
/****** Object:  View [dbo].[view_itemYarnFabricNames]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_itemYarnFabricNames] as
select Yarn_CName as Item_Name,YarnWeight as Yarn_Weight,YarnKnots as Qty from Yarn_Details
Union
select Fab_Name as Item_Name,0 Yarn_Weight,0 Qty from Fabric_Details 
Union
select Item_Name,0 Yarn_Weight,0 Qty  from Item_Details 
Union
select Acc_Name,0 Yarn_Weight,0 Qty  from Accessories_Details  




GO
/****** Object:  View [dbo].[View_Outward_Details]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_Outward_Details]
as
Select Outward_Main.slip_No,Outward_Main.PO_NO,Outward_Main.JobOrderNo,Outward_Main.Process_Type,Outward_Main.From_Whom,Outward_Main.PartyName,
	Outward_Main.To_Whom,Outward_Main.Out_Date,
	Outward_Item_Process.SNO,Outward_Item_Process.Item_Name,Outward_Item_Process.Item_Design,Outward_Item_Process.Item_Color,Outward_Item_Process.Item_Width,
	Outward_Item_Process.Item_Qty,Outward_Item_Process.MillName,Outward_Item_Process.UOM,Outward_Item_Process.Fab_Weight,Outward_Item_Process.Issue_Return
From Outward_Main,Outward_Item_Process
Where Outward_Main.Slip_No=Outward_Item_Process.Slip_No and Outward_Main.Del_Out=0  and Outward_Main.Process_Type='WEAVING'


GO
/****** Object:  View [dbo].[View_OutwardItemProcess]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_OutwardItemProcess] as
select cast(item_width as varchar) + ' / ' + cast(item_qty as varchar) WedthAndQty,* from outward_item_process


GO
/****** Object:  View [dbo].[View_ProcessOrder_Details]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_ProcessOrder_Details]
as
select Process_Order_Details.PO_No,Process_Order_Details.OrderNo,Process_Order_Details.Process_Type,Process_Order_Details.To_Whom,Process_Order_Details.PreparedBy,Process_Order_Details.Date,Process_Order_Details.JobOrder_Type,Process_Order_Details.ApprovalDate,Process_Order_Details.FirstLottDate,Process_Order_Details.DeliveryDate,
	Process_Order_List.Item_SNo,Process_Order_List.Design,Process_Order_List.Item,Process_Order_List.Color,Process_Order_List.Width,Process_Order_List.Qty,Process_Order_List.ExcessQuantity,Process_Order_List.UOM,Process_Order_List.ConfirmRate,Process_Order_List.Amount,Process_Order_List.Confirmed
from Process_Order_Details,Process_Order_List
where Process_Order_Details.OrderNo=Process_Order_List.OrderNo and Process_Order_Details.Del_Status='0' and Process_Order_Details.Process_Type='WEAVING'


GO
/****** Object:  View [dbo].[View_Store_House]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_Store_House] as
select Store_House.Process_Type,Store_House.Item_Name,Store_House.Item_Color,sum(Store_House.Item_Qty) Item_Qty,Store_House.Item_Unit 
from Store_House                                
group by Store_House.Process_Type,Store_House.Item_Name,Store_House.Item_Color,Store_House.Item_Unit


GO
/****** Object:  View [dbo].[View_tblAccessoriesIssue]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[View_tblAccessoriesIssue] as
select tblAccessoriesIssue.issuefrom,tblAccessoriesIssue_List.ItemName,tblAccessoriesIssue_List.color,sum(tblAccessoriesIssue_List.qty) as qty,tblAccessoriesIssue_List.UOM
from tblAccessoriesIssue
inner join tblAccessoriesIssue_List
on tblAccessoriesIssue.issueNo=tblAccessoriesIssue_List.issueNo
group by tblAccessoriesIssue.issuefrom,tblAccessoriesIssue_List.ItemName,tblAccessoriesIssue_List.color,tblAccessoriesIssue_List.UOM

GO
/****** Object:  View [dbo].[View_Wages_Details]    Script Date: 26-Mar-17 4:36:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[View_Wages_Details]
as
select tblWages.PartyName,tblWages.TDSPercentage,tblWages.TotalAmount,tblWages.WagesDate,
tblWagesDetails.*
From tblWages,tblWagesDetails
Where tblWages.WagesNo=tblWagesDetails.WagesNo and tblWagesDetails.Del_Status=0  and tblWagesDetails.Process_Type='WEAVING'



GO
