USE [CBpayroll]
GO
/****** Object:  Table [dbo].[AttendanceDetails]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceDetails](
	[EnrollNo] [varchar](30) NULL,
	[EmpId] [varchar](150) NULL,
	[Enroll_Date] [datetime] NULL,
	[FN] [bigint] NULL,
	[AN] [bigint] NULL,
	[FirstTime] [datetime] NULL,
	[LastTime] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category_Details]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Details](
	[Categ_Name] [varchar](100) NULL,
	[Categ_Desc] [varchar](300) NULL,
	[Del_Status] [varchar](5) NULL,
	[Del_Date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department_Details]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_Details](
	[Dept_Name] [varchar](100) NULL,
	[Dept_Desc] [varchar](300) NULL,
	[Del_Status] [varchar](5) NULL,
	[Del_Date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FPDevCon]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPDevCon](
	[devId] [bigint] NULL,
	[devIP] [varchar](30) NULL,
	[devPort] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FPUserDetails]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FPUserDetails](
	[MacId] [varchar](5) NULL,
	[EnrollNo] [varchar](30) NULL,
	[EmpName] [varchar](200) NULL,
	[EmpId] [varchar](150) NULL,
	[Password] [varchar](150) NULL,
	[FingerPrintNo] [varchar](20) NULL,
	[Privilege] [varchar](30) NULL,
	[Enabled] [bit] NULL,
	[Emp_Image] [image] NULL,
	[Del_Status] [varchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoginDetails]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginDetails](
	[EmpCode] [varchar](150) NULL,
	[EmpName] [varchar](150) NULL,
	[UName] [varchar](150) NULL,
	[PassWd] [varchar](150) NULL,
	[Hint] [varchar](150) NULL,
	[Privilege] [varchar](150) NULL,
	[Last_Login] [datetime] NULL,
	[Create_Date] [datetime] NULL,
	[Modified_by] [varchar](150) NULL,
	[LoggedIn] [varchar](15) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment_Details]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Details](
	[IDs] [bigint] IDENTITY(1,1) NOT NULL,
	[Doc_No] [varchar](50) NOT NULL,
	[Doc_Date] [datetime] NULL,
	[Acc_Type] [varchar](150) NULL,
	[Account_Holder] [varchar](150) NULL,
	[Cheque_No] [varchar](50) NULL,
	[Out_Amt] [numeric](20, 4) NULL,
	[Acc_Categ] [varchar](50) NULL,
	[Del_Status] [varchar](5) NULL,
	[Del_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Doc_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment_Items]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Items](
	[Doc_No] [varchar](50) NULL,
	[Invoice_No] [varchar](50) NULL,
	[Amt_Receive] [numeric](20, 4) NULL,
	[Amt_Bal] [numeric](20, 4) NULL,
	[Amt_Rem] [varchar](300) NULL,
	[Out_Amt] [numeric](20, 4) NULL,
	[Pick_Amt] [numeric](20, 4) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Receipt_Details]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Details](
	[IDs] [bigint] IDENTITY(1,1) NOT NULL,
	[Doc_No] [varchar](50) NOT NULL,
	[Doc_Date] [datetime] NULL,
	[Acc_Type] [varchar](150) NULL,
	[Account_Holder] [varchar](150) NULL,
	[Cheque_No] [varchar](50) NULL,
	[Out_Amt] [numeric](20, 4) NULL,
	[Acc_Categ] [varchar](50) NULL,
	[Del_Status] [varchar](5) NULL,
	[Del_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Doc_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Receipt_Items]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Items](
	[Doc_No] [varchar](50) NULL,
	[Invoice_No] [varchar](50) NULL,
	[Amt_Receive] [numeric](20, 4) NULL,
	[Amt_Bal] [numeric](20, 4) NULL,
	[Amt_Rem] [varchar](300) NULL,
	[Out_Amt] [numeric](20, 4) NULL,
	[Pick_Amt] [numeric](20, 4) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeAddInfo]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeAddInfo](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[EmpAge] [varchar](10) NULL,
	[EmpGender] [varchar](10) NULL,
	[EmpQual] [varchar](150) NULL,
	[EmpReligion] [varchar](150) NULL,
	[EmpCaste] [varchar](150) NULL,
	[EmpFatherName] [varchar](150) NULL,
	[EmpFatherOccup] [varchar](150) NULL,
	[EmpMotherName] [varchar](150) NULL,
	[EmpMotherOccup] [varchar](150) NULL,
	[EmpSiblings] [varchar](150) NULL,
	[EmpSpouse] [varchar](150) NULL,
	[EmpChild] [varchar](150) NULL,
	[Del_Staus] [varchar](5) NULL,
	[Del_Date] [datetime] NULL,
	[String1] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
	[EmpQualDetails] [varchar](500) NULL,
 CONSTRAINT [SNo_pkAddInfo] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeDailyPayroll]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeDailyPayroll](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[DailyPayrollDate] [datetime] NULL,
	[EmployeeCode] [varchar](200) NULL,
	[EmployeeName] [varchar](200) NULL,
	[MorningHrs] [varchar](50) NULL,
	[EveningHrs] [varchar](50) NULL,
	[OverTimeHrs] [varchar](50) NULL,
	[HolidayOverTimeHrs] [varchar](50) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[Permission] [varchar](50) NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk18] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeDeductions]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeDeductions](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[DeductionName] [varchar](200) NULL,
	[DeductionValue] [varchar](300) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[Percentage] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk15] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeEarnings]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeEarnings](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[EarningName] [varchar](200) NULL,
	[EarningValue] [varchar](300) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[Percentage] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk14] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeLoan]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeLoan](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[loan_BalanceAmount] [varchar](200) NULL,
	[loan_Installment] [varchar](300) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[String1] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk17] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeMonthlyPayroll]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeMonthlyPayroll](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[MonthlyPayrollDate] [datetime] NULL,
	[EmployeeCode] [varchar](200) NULL,
	[EmployeeName] [varchar](200) NULL,
	[NoOfDaysWorked] [varchar](50) NULL,
	[TotalOverTimeHrs] [varchar](50) NULL,
	[TotalHolidayOverTimeHrs] [varchar](50) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[Permission] [varchar](50) NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk19] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeePersonnalInfo]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeePersonnalInfo](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](200) NULL,
	[Alias] [varchar](200) NULL,
	[EmployeeCode] [varchar](200) NOT NULL,
	[Designation] [varchar](200) NULL,
	[PaymentBasis] [varchar](200) NULL,
	[BasicSalary] [varchar](100) NULL,
	[Category] [varchar](200) NULL,
	[Address1] [varchar](400) NULL,
	[Address2] [varchar](400) NULL,
	[Department] [varchar](200) NULL,
	[Nationality] [varchar](200) NULL,
	[DateOfJoining] [datetime] NULL,
	[AppraisalDate] [datetime] NULL,
	[RegistrationDate] [varchar](200) NULL,
	[VisaNo] [varchar](100) NULL,
	[PassportNo] [varchar](100) NULL,
	[ContractNo] [varchar](100) NULL,
	[VisaExpiry] [varchar](100) NULL,
	[PassportExpiry] [varchar](100) NULL,
	[IdentityProofNo] [varchar](100) NULL,
	[PayableAccount] [varchar](100) NULL,
	[SalaryAccount] [varchar](100) NULL,
	[EmployeeStatus] [varchar](100) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[String1] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
	[Emp_Image] [image] NULL,
	[ESINo] [varchar](200) NULL,
	[PFNo] [varchar](200) NULL,
	[SalaryAccountBranch] [varchar](100) NULL,
	[IdentityProofName] [varchar](100) NULL,
 CONSTRAINT [SNo_pk20] PRIMARY KEY CLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeProof]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeProof](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[ImageField] [image] NULL,
	[Description] [varchar](500) NULL,
	[String1] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployeeSalaryAdvance]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeSalaryAdvance](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[sa_BalanceAmount] [varchar](200) NULL,
	[sa_Installment] [varchar](300) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[String1] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk16] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblListOfHolidays]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblListOfHolidays](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Description] [varchar](500) NULL,
	[String1] [varchar](200) NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk23] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPayrollOpenCloseSettings]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayrollOpenCloseSettings](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[OpenMonth] [varchar](25) NULL,
	[OpenMonthValue] [varchar](200) NULL,
	[OpenYear] [varchar](25) NULL,
	[Status] [varchar](25) NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk24] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPayrollShiftTimeSettings]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayrollShiftTimeSettings](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[MorningHrs] [varchar](50) NULL,
	[EveningHrs] [varchar](50) NULL,
	[PermissionHrs] [varchar](50) NULL,
	[MaxLeavePerYear] [varchar](50) NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk21] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPaySlip]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaySlip](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[PaySlipNo] [varchar](50) NULL,
	[Date] [varchar](30) NULL,
	[SalaryMonth] [varchar](50) NULL,
	[EmployeeCode] [varchar](200) NULL,
	[EmployeeName] [varchar](200) NULL,
	[BasicSalary] [float] NULL,
	[LeavesTaken] [varchar](30) NULL,
	[PermissionTaken] [varchar](30) NULL,
	[TotalOverTimeHrs] [varchar](30) NULL,
	[OverTimeSalary] [float] NULL,
	[TotalEarnings] [float] NULL,
	[TotalDeductions] [float] NULL,
	[GrossSalary] [float] NULL,
	[Advance] [float] NULL,
	[LoanInstallMent] [float] NULL,
	[NetSalary] [float] NULL,
	[NoofDaysWorked] [float] NULL,
	[LeaveConcession] [float] NULL,
	[SalaryPercentForEarnings] [float] NULL,
	[SalaryPercentForDeductions] [float] NULL,
	[WeekStartDate] [datetime] NULL,
	[WeekEndDate] [datetime] NULL,
	[String2] [float] NULL,
	[string3] [float] NULL,
	[String4] [varchar](200) NULL,
	[String5] [varchar](200) NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[LeaveDays] [float] NULL,
 CONSTRAINT [SNo_pk30] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPaySlipDeductions]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaySlipDeductions](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[PaySlipNo] [varchar](50) NULL,
	[DeductionName] [varchar](25) NULL,
	[Percentage] [varchar](25) NULL,
	[DeductionValue] [float] NULL,
	[String1] [varchar](100) NULL,
	[String2] [varchar](100) NULL,
 CONSTRAINT [SNo_pk32] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPaySlipEarnings]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPaySlipEarnings](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[PaySlipNo] [varchar](50) NULL,
	[EarningName] [varchar](25) NULL,
	[Percentage] [varchar](25) NULL,
	[EarningValue] [float] NULL,
	[String1] [varchar](100) NULL,
	[String2] [varchar](100) NULL,
 CONSTRAINT [SNo_pk31] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPrint]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPrint](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[PrintCode] [varchar](200) NULL,
	[PrintName] [varchar](200) NULL,
	[Remarks1] [varchar](200) NULL,
	[Remarks2] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblShiftTimings]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShiftTimings](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [varchar](200) NULL,
	[FNCheckIn] [datetime] NULL,
	[FNCheckOut] [datetime] NULL,
	[ANCheckIn] [datetime] NULL,
	[ANCheckOut] [datetime] NULL,
	[Del_Status] [varchar](10) NULL,
	[Del_Date] [datetime] NULL,
	[String1] [float] NULL,
	[String2] [varchar](200) NULL,
	[String3] [varchar](200) NULL,
 CONSTRAINT [SNo_pk50] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempLogDetails]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempLogDetails](
	[SNo] [bigint] IDENTITY(1,1) NOT NULL,
	[MacId] [varchar](5) NULL,
	[EnrollNo] [varchar](30) NULL,
	[Enroll_Date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempLogDetails_Report]    Script Date: 26-Mar-17 4:35:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempLogDetails_Report](
	[MacId] [varchar](5) NULL,
	[EnrollNo] [varchar](30) NULL,
	[Enroll_Date] [datetime] NULL,
	[Enroll_Timings] [datetime] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblEmployeeAddInfo] ADD  DEFAULT ('') FOR [EmpQualDetails]
GO
ALTER TABLE [dbo].[Payment_Items]  WITH CHECK ADD FOREIGN KEY([Doc_No])
REFERENCES [dbo].[Payment_Details] ([Doc_No])
GO
ALTER TABLE [dbo].[Receipt_Items]  WITH CHECK ADD FOREIGN KEY([Doc_No])
REFERENCES [dbo].[Receipt_Details] ([Doc_No])
GO
